<div class="text-center">
  <div>
    <%= image_tag("emids_logo") %>
  </div>
  <div class="info">
    <% if current_user %>
        <h1>Welcome <%= current_user.name %></h1>
    <% else %>
        <%= link_to "Sign in with Github", "/auth/github", class: "btn btn-success btn-lg btn-block" %>
    <% end %>
  </div>
</div>



